# Исследование надёжности заёмщиков

## Первичное знакомство с данными

In [1]:
#pip install pymystem3

In [2]:
import pandas as pd
from collections import Counter
from pymystem3 import Mystem
# Импорт необходимых библиотек

In [3]:
df = pd.read_csv('C:/Users/Timofey/Downloads/data.csv')
#df = pd.read_csv('/datasets/data.csv')

**Вывод общей информации о датафрейме**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [5]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

In [6]:
df.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

**Проверка столбцов с подозрительными значениями**

Количество детей

In [7]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

Возраст

In [8]:
df.sort_values('dob_years')['dob_years'].value_counts().sort_index()

0     101
19     14
20     51
21    111
22    183
23    254
24    264
25    357
26    408
27    493
28    503
29    545
30    540
31    560
32    510
33    581
34    603
35    617
36    555
37    537
38    598
39    573
40    609
41    607
42    597
43    513
44    547
45    497
46    475
47    480
48    538
49    508
50    514
51    448
52    484
53    459
54    479
55    443
56    487
57    460
58    461
59    444
60    377
61    355
62    352
63    269
64    265
65    194
66    183
67    167
68     99
69     85
70     65
71     58
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

Образование

In [9]:
df['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

Семейное положение

In [10]:
df['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

Пол

In [11]:
df['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

Тип занятости

In [12]:
df['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64

Цель получения кредита

In [13]:
df['purpose'].value_counts()

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
покупка жилья для сдачи                   653
операции с жильем                         653
операции с коммерческой недвижимостью     651
жилье                                     647
покупка жилья                             647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
строительство недвижимости                620
покупка своего жилья                      620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
приобретение автомобиля                   462
дополнительное образование                462
сделка с автомобилем                      455
высшее образование                        453
образование                               447
получение дополнительного образования     447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

**Вывод**

Сразу видно пропуски в столбцах 'days_employed' и 'total_income'. Скорее всего, появление этих пропусков взаимосвязано. Доля строк с пропусками - 10%. Будет необходимо заполнить их.
Некоторые клиенты имеют отрицательный стаж работы, а у кого-то он cлишком большой (около 1100 лет). Я бы связал эти аномалии с ошибкой в формуле расчета общего рабочего стажа путем вычета дата начала работы из даты окончания. Будет необходимо исправить эти значения. 

У некоторых клиентов банка отрицательное количество детей, у некоторых их 20, всего таких клиентов 47 и 76 соответственно. Можно предположить, что данные аномалии были вызваны опечатками. Необходимо избавиться от строк с неадекватными значениями количества детей, т.к. нет возможности запросить корректные данные и в сумме их чуть больше полпроцента.

В столбце с возрастом клиента присутствуют нулевые значения, скорее всего, это тоже опечатки. Можно предположить, что этим клиентам могло быть по 18 лет, т.к. в таблице отсуттвует этот возраст, но по ряду признаков (некоторые из них уже пенсионеры, часть с высшим образованием и несколькими детьми) пришлось отказаться от этой идеи. Т.к. для поставленной задачи этот столбец не будет использоваться, пока оставлю эти строчки.

В столбце с образованием встречаются категории с разным регистром, необходимо будет привести к единому виду.

Колонку с семейным статусом стоит привести к единому регистру.

У одного клиента не известен пол. Для анализа этот столбец не используется, поэтому пока оставляем строку.

В целях получения кредита для одинаковых задач указаны разные формулировки.

## Предобработка данных

### Обработка пропусков

Нужно избавиться от строк с опечатками в возрасте и количестве детей для корректной картины в дальнейшем.

In [14]:
df = df[df['dob_years'] != 0]

In [15]:
df = df[(df['children'] >= 0) & (df['children'] <= 5)]

Замена значений столбца 'days_employed' на их модули для исправления отрицательных значений.

In [16]:
df['days_employed'] = df['days_employed'].apply(abs)

Также необходимо избавиться от слишком больших значений (больше максимального стажа работы для этих данных ((75-16)*365)) и заменить их на средние.

In [17]:
max_days_employed = (75 - 16) * 365

In [18]:
df_without_max=df[df['days_employed'] <= max_days_employed]
days_employed_pivot = pd.pivot_table(df_without_max, index=['dob_years'], values=['days_employed'], aggfunc='mean')
# Таблица без слишком больших значений стажа и сводная по возрасту и стажу на ее основе

In [19]:
def fill_max_days_employed(row):
    return days_employed_pivot.loc[row['dob_years']]['days_employed']
# Функция для замены дней стажа на основе сводной таблицы

In [20]:
df.loc[df['days_employed'] > max_days_employed, 'days_employed'] = df.apply(fill_max_days_employed, axis=1)
# Замена слишком больших значений стажа

Необходимо привести колонку с образованием к единому виду для создания корректной сводной таблицы в следующем пункте

In [21]:
df['education']=df['education'].str.lower()

Создание сводной таблицы для заполнения пропущенных дней стажа. Хотелось бы заполнить пропуски на основе сводной по возрасту и должности, но в таком случае в ней не будет хватать значений (сначала была предпринята такая попытка).

In [22]:
mean_days_employed = pd.pivot_table(df, index=['education', 'income_type'], values=['days_employed'], aggfunc='mean')

In [23]:
def fill_days_employed(row):
    return mean_days_employed.loc[row['education']].loc[row['income_type']]['days_employed']
# Функция для заполнения пропусков дней стажа на основе сводной таблицы

In [24]:
df.loc[df['days_employed'].isna(), 'days_employed'] = df.apply(fill_days_employed, axis=1)
# Добавление пропущенных значений дней стажа

In [25]:
median_income = pd.pivot_table(df, index=['education', 'income_type'], values=['total_income'], aggfunc='median')
# Создание сводной таблицы для заполнения пропущенных значений уровня дохода

In [26]:
def fill_income(row):
    return median_income.loc[row['education']].loc[row['income_type']]['total_income']
# Функция для заполнения пропусков в заработке

In [27]:
df.loc[df['total_income'].isna(), 'total_income'] = df.apply(fill_income, axis=1)

**Проверка результатов предобработки**

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21302 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21302 non-null  int64
 1   days_employed     21302 non-null  float64
 2   dob_years         21302 non-null  int64
 3   education         21302 non-null  object
 4   education_id      21302 non-null  int64
 5   family_status     21302 non-null  object
 6   family_status_id  21302 non-null  int64
 7   gender            21302 non-null  object
 8   income_type       21302 non-null  object
 9   debt              21302 non-null  int64
 10  total_income      21302 non-null  float64
 11  purpose           21302 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.6+ MB

In [29]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21302.000000,21302.000000,21302.000000,21302.000000,21302.000000,21302.000000,2.130200e+04
mean,0.473148,2580.356102,43.503474,0.817811,0.971834,0.080931,1.654201e+05
std,0.751636,2054.422828,12.252843,0.548820,1.419930,0.272736,9.838363e+04
min,0.000000,24.141633,19.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,1027.245624,33.000000,1.000000,0.000000,0.000000,1.077143e+05
50%,0.000000,2291.684687,43.000000,1.000000,0.000000,0.000000,1.434947e+05
75%,1.000000,3599.774428,53.000000,1.000000,1.000000,0.000000,1.981299e+05
max,5.000000,18388.949901,75.000000,4.000000,4.000000,1.000000,2.265604e+06

**Вывод**

В таблице исправлены неадекватные значения дней стажа, добавлены пропущенные значения 'days_employed' и 'total_income', удалены строки с опечатками в количестве детей и возрасте (всего строк удалено чуть больше 1%). От части данных пришлось избавиться, стоит обратить внимание коллег, ответственных за их сбор, на опечатки в возрасте и количестве детей, на неадекватные значения и пропуски в стаже и на отсутствие части значений в заработке.

### Замена типа данных

In [30]:
df['family_status'] = df['family_status'].str.lower()
# Перевод всех заглавных букв в 'family_status' в строчные

In [31]:
df['days_employed'] = df['days_employed'].astype('int')
df['total_income'] = df['total_income'].astype('int')
# Перевод зарплаты и стажа в днях в 'int'

In [32]:
df.info()
# Проверка

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21302 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21302 non-null  int64
 1   days_employed     21302 non-null  int32
 2   dob_years         21302 non-null  int64
 3   education         21302 non-null  object
 4   education_id      21302 non-null  int64
 5   family_status     21302 non-null  object
 6   family_status_id  21302 non-null  int64
 7   gender            21302 non-null  object
 8   income_type       21302 non-null  object
 9   debt              21302 non-null  int64
 10  total_income      21302 non-null  int32
 11  purpose           21302 non-null  object
dtypes: int32(2), int64(5), object(5)
memory usage: 2.5+ MB

### Обработка дубликатов

In [33]:
df.duplicated().sum()
# Сумма дубликатов

71

In [34]:
df[df.duplicated()].sort_values(by=['total_income', 'days_employed'])

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
3290,0,3612,58,среднее,1,гражданский брак,1,F,пенсионер,0,114825,сыграть свадьбу
4851,0,3612,60,среднее,1,гражданский брак,1,F,пенсионер,0,114825,свадьба
5557,0,3612,58,среднее,1,гражданский брак,1,F,пенсионер,0,114825,сыграть свадьбу
7808,0,3612,57,среднее,1,гражданский брак,1,F,пенсионер,0,114825,на проведение свадьбы
7938,0,3612,71,среднее,1,гражданский брак,1,F,пенсионер,0,114825,на проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...
21281,1,2268,30,высшее,0,женат / замужем,0,F,сотрудник,0,166171,покупка коммерческой недвижимости
14432,2,3168,36,высшее,0,женат / замужем,0,F,госслужащий,0,172277,получение образования
18349,1,3168,30,высшее,0,женат / замужем,0,F,госслужащий,0,172277,покупка жилья для семьи
17379,0,2023,54,высшее,0,женат / замужем,0,M,компаньон,0,201785,операции с коммерческой недвижимостью
19387,0,2023,38,высшее,0,гражданский брак,1,F,компаньон,0,201785,на проведение свадьбы

Скорее всего, дубликаты появились из-за ошибок при вводе данных, их не так много (около 0,33%) Нужно избавиться от них.

In [35]:
df = df.drop_duplicates()

In [36]:
df.duplicated().sum()
# Проверка

0

### Лемматизация

In [37]:
m = Mystem()
lemmas = m.lemmatize(' '.join(df['purpose']))
print(Counter(lemmas))

Counter({' ': 54475, 'недвижимость': 6291, 'покупка': 5839, 'жилье': 4413, 'автомобиль': 4258, 'образование': 3970, 'с': 2886, 'операция': 2576, 'свадьба': 2299, 'свой': 2212, 'на': 2196, 'строительство': 1862, 'высокий': 1359, 'получение': 1304, 'коммерческий': 1298, 'для': 1283, 'жилой': 1216, 'сделка': 933, 'заниматься': 900, 'дополнительный': 895, 'подержать': 838, 'проведение': 759, 'сыграть': 755, 'сдача': 647, 'семья': 636, 'собственный': 626, 'со': 623, 'ремонт': 602, 'приобретение': 457, 'профильный': 431, 'подержанный': 112, '\n': 1})

Из полученного результата можно выделить 4 основные категории: недвижимость, автомобиль, образование и свадьба.

### Категоризация данных

In [38]:
df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21231.000000,21231.000000,21231.000000,21231.000000,21231.000000,21231.000000,2.123100e+04
mean,0.473977,2578.948801,43.481795,0.817672,0.973200,0.081202,1.655207e+05
std,0.752179,2057.478776,12.248231,0.549363,1.421187,0.273152,9.852554e+04
min,0.000000,24.000000,19.000000,0.000000,0.000000,0.000000,2.066700e+04
25%,0.000000,1024.000000,33.000000,1.000000,0.000000,0.000000,1.074955e+05
50%,0.000000,2284.000000,43.000000,1.000000,0.000000,0.000000,1.437080e+05
75%,1.000000,3599.000000,53.000000,1.000000,1.000000,0.000000,1.982995e+05
max,5.000000,18388.000000,75.000000,4.000000,4.000000,1.000000,2.265604e+06

Распределение клиентов по наличию детей.

In [39]:
def categorize_children(count):
    categories = {
        0: 'нет детей',
        1: 'один ребенок',
        2: 'два ребенка'
    }

    return categories.get(count, 'много детей')

In [40]:
df['children_category'] = df['children'].apply(categorize_children)

Для ответа на вопрос про зависимость между семейным положением и возвратом кредита в срок нет необходимости категоризировать больше, так результат будет конкретнее.

Для определения зависимости уровня дохода и и возврата кредита в срок необходимо выделить 4 основные уровня дохода. Для определения границы среднего уровня дохода стоит взять медиану из таблицы выше.

In [41]:
def categorize_total_income(value):
    if value < 50000:
        return 'низкий'
    elif value <= 143708:
        return 'средний'
    elif value < 300000:
        return 'выше среднего'
    else:
        return 'высокий'

In [42]:
df['total_income_category'] = df['total_income'].apply(categorize_total_income)

Категоризация целей кредита и вывод подготовленной таблицы. Т.к. лемматизация каждого значения в таблице занимает слишком много времени, необходимо выделить уникальные цели получения кредита и по ним добавить категории.

In [43]:
def lemma(column):
    return m.lemmatize(column)
# Функция для лемматизации столбца

In [44]:
lemmas = pd.DataFrame()
lemmas['purpose'] = df['purpose'].unique()
lemmas['unique'] = lemmas['purpose'].apply(lemma)
# лемматизация уникальных целей получения кредита

In [45]:
def categorize_purposes(column):
    if 'автомобиль' in column:
        return 'автомобиль' 
    elif 'свадьба' in column:
        return 'свадьба'
    elif 'жилье' in column or 'жилье' in column: 
        return 'недвижимость'
    elif 'недвижимость' in column or 'жилье' in column: 
        return 'недвижимость'
    elif 'образование' in column:
        return 'образование'

In [46]:
lemmas['purpose_category'] = lemmas['unique'].apply(categorize_purposes)
lemmas.drop(['unique'], axis='columns', inplace=True)
lemmas
# вывод категорий целей получения кредита

                                   purpose purpose_category
0                            покупка жилья     недвижимость
1                  приобретение автомобиля       автомобиль
2               дополнительное образование      образование
3                          сыграть свадьбу          свадьба
4                        операции с жильем     недвижимость
5                              образование      образование
6                    на проведение свадьбы          свадьба
7                  покупка жилья для семьи     недвижимость
8                     покупка недвижимости     недвижимость
9        покупка коммерческой недвижимости     недвижимость
10              покупка жилой недвижимости     недвижимость
11  строительство собственной недвижимости     недвижимость
12                            недвижимость     недвижимость
13              строительство недвижимости     недвижимость
14      на покупку подержанного автомобиля       автомобиль
15            на покупку своего автомобиля       автомобиль
16   операции с коммерческой недвижимостью     недвижимость
17        строительство жилой недвижимости     недвижимость
18                                   жилье     недвижимость
19         операции со своей недвижимостью     недвижимость
20                              автомобили       автомобиль
21                   заняться образованием      образование
22        сделка с подержанным автомобилем       автомобиль
23                   получение образования      образование
24                              автомобиль       автомобиль
25                                 свадьба          свадьба
26   получение дополнительного образования      образование
27                    покупка своего жилья     недвижимость
28                операции с недвижимостью     недвижимость
29           получение высшего образования      образование
30                         свой автомобиль       автомобиль
31                    сделка с автомобилем       автомобиль
32                  профильное образование      образование
33                      высшее образование      образование
34                 покупка жилья для сдачи     недвижимость
35                   на покупку автомобиля       автомобиль
36                            ремонт жилью     недвижимость
37            заняться высшим образованием      образование

In [47]:
df = df.merge(lemmas, on=["purpose"])
# добавление категорий к датасету

In [48]:
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,children_category,total_income_category,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,один ребенок,выше среднего,недвижимость
1,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,нет детей,выше среднего,недвижимость
2,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,нет детей,выше среднего,недвижимость
3,0,1548,48,среднее,1,женат / замужем,0,F,компаньон,0,157245,покупка жилья,нет детей,выше среднего,недвижимость
4,0,413,41,среднее,1,женат / замужем,0,M,госслужащий,0,118551,покупка жилья,нет детей,средний,недвижимость
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21226,1,3270,52,среднее,1,женат / замужем,0,F,пенсионер,0,92997,заняться высшим образованием,один ребенок,средний,образование
21227,0,3596,67,высшее,0,женат / замужем,0,F,пенсионер,0,143939,заняться высшим образованием,нет детей,выше среднего,образование
21228,3,3039,26,высшее,0,женат / замужем,0,F,компаньон,0,302642,заняться высшим образованием,много детей,высокий,образование
21229,0,1117,47,среднее,1,гражданский брак,1,F,сотрудник,0,231833,заняться высшим образованием,нет детей,выше среднего,образование
21230,0,184,34,среднее,1,гражданский брак,1,F,сотрудник,0,90529,заняться высшим образованием,нет детей,средний,образование

Данные подготовлены для ответов на поставленные вопросы.

## Ответы на вопросы

**Есть ли зависимость между наличием детей и возвратом кредита в срок?**

In [49]:
pd.pivot_table(df, index='children_category', values='debt')

                       debt
children_category
два ребенка        0.095145
много детей        0.082011
нет детей          0.075453
один ребенок       0.092028

Клиенты без детей чаще выплачивают кредит в срок.
Клиенты с двумя детьми чаще всех остальных имеют задолженность по возврату кредита.

**Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [50]:
pd.pivot_table(df, index='family_status', values='debt')

                           debt
family_status
в разводе              0.071247
вдовец / вдова         0.065539
гражданский брак       0.093119
женат / замужем        0.075575
не женат / не замужем  0.097842

Вероятность возврата кредита в срок выше всего среди овдовевших и разведённых клиентов, ниже всего — среди неженатых/незамужних и состоящих в гражданском браке.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [51]:
pd.pivot_table(df, index='total_income_category', values='debt')

                           debt
total_income_category
высокий                0.072109
выше среднего          0.077966
низкий                 0.062331
средний                0.086074

Клиенты с низким уровнем дохода имеют самый низкий процент задолжностей по кредитам: ~6.2%, а вот люди со средним – самый высокий ~8.5%. Дальше чем выше доход, тем меньше % задолжностей.

**Как разные цели кредита влияют на его возврат в срок?**

In [52]:
pd.pivot_table(df, index='purpose_category', values='debt')

                      debt
purpose_category
автомобиль        0.093236
недвижимость      0.072590
образование       0.092947
свадьба           0.078730

Клиенты, которые брали кредиты для приобретения недвижимости, возвращали их в срок чаще. Среди клиентов, взявших кредит для покупки автомобиля и для получения образования больше должников.

## Общий вывод

Анализ данных выявил факторы, влияющие на вероятность своевременного возврата кредита. 

Ответственный заемщик:
- без детей
- вдовец/ вдова или в разводе
- низкий уровень дохода
- с целью покупки недвижимости

Менее ответственный заемщик:
- 1-2 ребенка
- не женат / не замужем
- средний уровень дохода
- цель кредита - автомобиль или образование